{% extends 'base.html' %}
{% load static %}
{% block title %}
Yo Opino
{% endblock %}

{% block content %}

<section class="section-padding">
    <div class="container">
        <div class="row">
            {% for contry in countries %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <!-- artículo -->
                    <article class="post-grid mb-5">
                       
                        <div class="post-content-grid">

                            <h3 class="post-title mt-1"><a href="{{ contry.id }}/cities/">{{contry.name_country}}</a></h3>
                                    
                        </div>
                    </article>
                    <!-- fin del artículo -->
                </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
       
{% endblock %}
