{% extends 'base.html' %}
{% load static %}
{% block title %}
privacy policies
{% endblock %}

{% block content %}


<section class="section-padding">
    <div class="container">
        <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">

                        <div class="post-content-grid">
                                  
                                    </div>

                                </div>
                    </article>
                    <!-- fin del artículo -->
                </div>
        </div>
    </div>
</section>


<div style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column;">
    <h1>Privacy Policy</h1>
    <p>Last Updated: September 30, 2023</p>

    <p style="max-width: 800px;">At yopino.org, we value and respect your privacy. This Privacy Policy describes how we collect, use, and share
        information when you visit our website at www.yopino.org.</p>

    <h2>Information Collection</h2>
    <p style="max-width: 800px;">At this time, yopino.org does not collect personal information from visitors, such as names, email addresses, or
        contact information. However, in the future, if you choose to subscribe to receive updates or newsletters, we
        may collect your email address with your explicit consent.</p>

    <h2>Cookies and Tracking Technologies</h2>
    <p style="max-width: 800px;">We do not use cookies or tracking technologies to collect information about your online activity. However, it's
        important to note that we use Google Analytics 4 to analyze traffic and visitor behavior on our website.</p>

    <h3>Google Analytics 4</h3>
    <p style="max-width: 800px;">Google Analytics 4 is a web analytics tool that uses cookies to collect data on how visitors interact with our
        site. This data includes information about the pages you visit, the time you spend on the site, and the source
        of traffic. All this information is collected anonymously and is used to better understand visitor behavior and
        improve the user experience.</p>

    <p style="max-width: 800px;">If you wish to disable Google Analytics 4 cookies or learn more about how Google uses this data, we recommend
        referring to Google's Privacy Policy.</p>

    <h2>Referral Links and Advertising</h2>
    <p style="max-width: 800px;">yopino.org may include referral links to third-party products or services. If you choose to use these links and
        make a purchase, please be aware that we may receive a commission as a result. However, these referral links
        do not affect the price you pay for the products or services.</p>

    <p style="max-width: 800px;">In the future, YoPino.org may include third-party advertising, such as Google AdSense or similar programs. These
        ads may use cookies and tracking technologies to provide relevant advertisements. Please refer to the privacy
        policies of third parties for more information on how they manage data collection.</p>

    <h2>Changes to the Privacy Policy</h2>
    <p style="max-width: 800px;">This Privacy Policy is subject to changes and periodic updates. Any modifications will be reflected on this page
        with the last updated date indicated at the beginning. We recommend that you review this policy regularly to
        stay informed about how information is collected, used, and shared.</p>

    <h2>Contact Us</h2>
    <p style="max-width: 800px;">If you have any questions or concerns about our privacy policy, please feel free to contact us at
        Info@yopino.org.</p>

    <p style="max-width: 800px;">Thank you for visiting yopino.org and trusting us. Your privacy is important, and we treat it with the utmost
        consideration.</p>

</div>




<!--footer start-->
    <footer class="footer-section bg-grey">
        <div class="instagram-photo-section">
            <div class="container">
                <div class="row">
                 
                </div>

                <div class="row no-gutters" id="instafeed">

                </div>
            </div>
        </div>
        </div>
                <div class="col-md-12 text-center">
                    <p class="copyright">© Copyright 2019 - Revolve. All Rights Reserved. Distribution <a
                            class="text-white" href="https://themewagon.com">ThemeWagon.</a></p>
                </div>
            </div>
        </div>
    </footer>



{% endblock %}