{% extends 'base.html' %}
{% load static %}

{% block title %}results{% endblock %}


{% block content %}

<section class="section-padding">
    <div class="container">
        <h2>Resultados de Búsqueda</h2>
        <hr>
        {% if results %}
        <div class="row">
            {% for post in results %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <!-- artículo -->
                    <article class="post-grid mb-5">
                        <a class="post-thumb mb-4 d-block" href="/{{ post.slug }}">
                            <img src="{{ post.imagen.url }}" alt="" class="img-fluid w-100 post-image" width="300" height="200">
                        </a>
                        <div class="post-content-grid">
                                    <div class="label-date">
                                        <span class="day">{{ post.puntuacion }}</span>
                                        <span class="month text-uppercase">Punt.</span>
                                    </div>
                                
                                    <h3 class="post-title mt-1"><a href="/{{ post.slug }}">{{post.nombre}}</a></h3>
                                    <p>{{post.direccion}}</p>
                                    <p>{{post.ciudad}}</p>
                                </div>
                    </article>
                    
                    <!-- fin del artículo -->
                </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}


        </div>
        {% else %}
        <p>No se encontraron resultados.</p>
        {% endif %}
    </div>
</section>





<!--footer start-->
    <footer class="footer-section bg-grey">
        <div class="instagram-photo-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="text-center">Tu opinion nos importa</h4>
                    </div>
                </div>

                <div class="row no-gutters" id="instafeed">

                </div>
            </div>
        </div>
        </div>
                <div class="col-md-12 text-center">
                    <p class="copyright">© Copyright 2019 - Revolve. All Rights Reserved. Distribution <a
                            class="text-white" href="https://themewagon.com">ThemeWagon.</a></p>
                </div>
            </div>
        </div>
    </footer>

 {% endblock %}